.h5p-dialogcards .h5p-dialogcards-card-text-area p, .h5p-dialogcards .h5p-dialogcards-title p {
    font-size: 80px;
    line-height: inherit;
    margin: inherit;
}

.h5p-dialogcards-turn, .h5p-dialogcards-footer-button{

   background-color: orange;
}

html .h5p-iframe .h5p-content {
    font-size: 80px; /* size of the font used in H5P content */
   color: #5a5a5a; /* color of the H5P content */
} 